@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Comic Neue", cursive;
    background-color: #ffd6eb;
}

header {
    background-image: url(images/fondo3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    width: 150px;
}

.menu .navbar ul {
    list-style: none;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #b61668;
    display: block;
    text-transform: uppercase;
}

.menu .navbar ul li a:hover {
    color: #57032e;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 200px 0 150px 0;
}

.header-txt{
    width: 40%;
    padding-right: 25px;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 800;
    color:#b61668;
    margin-bottom: 25px;
}

.header-txt p {
    font-size: 24px;
    color:black
}

.header-img {
    width: 40%;
}

.Products{
    width: 100%;
}

.botones {
    display: flex;
    margin-top: 50px;
}

.btn-1 {
    display: inline-block;
    background: linear-gradient(90deg, #eb288c 0%, #c51a72 100%);
    padding: 10px 35px;
    margin-right: 20px;
    color: rgb(241, 223, 223);
    border-radius: 25px;
}

.btn-2 {
    display: inline-block;
    border: 1px solid #c73480;
    padding: 10px 35px;
    margin-right: 20px;
    color:#c91e76;
    border-radius: 25px;
}

.btn-1:hover {
    background: linear-gradient(90deg, #cf0c71 0%, #a00857 100%);
}

.btn-2:hover{
    border: 1px solid #d34890;
}

.icon {
    width: 20px;
}

.product-menu {
    padding: 50px 0 150px 0;
}

.title {
    color: #b61668;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.product {
    display: flex;
    position: relative;
}

.molly {
    right: 0;
    position: absolute;
    bottom: -130px;
    width: 150px;
}

.menu-nav {
    display: flex;
    margin-bottom: 45px;
}

.tab {
    margin-right: 20px;
    text-align: center;
    padding: 10px 35px;
    border-radius: 25px;
    color: #e9d6e0;
    font-size: 16px;
    font-weight: 800;
    background-color: #cf0c71;
    cursor: pointer;
}

.tab.active {
    background: linear-gradient(90deg, #eb288c 0%,#c51a72 100%);
    color: #e9d6e0;
}

.tab.active::after {
    content: "";
    position: absolute;
    width: 100%;
}

.tab-content {
    display: none;
}

.tab-content.visible {
    display: initial;
}

.box-container-1,
.box-container-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box-1,
.box-2 {
    background-image: url(images/fondo\ florecitas.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;

}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4) {
    display: inline-block;
}

.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4) {
    display: inline-block;
}

.image {
    margin-bottom: 20px;
    text-align: center;
}

.image img {
    width: 180px;
}

.content h3 {
    font-size: 20px;
    color: #8f1556;
}

.content p {
    font-size: 15px;
    color:#eb288c;
    line-height: 2;
    font-size: 15px;
    padding: 15px 0;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #de5;
    color: rgb(28, 201, 22);
    font-size: 16px;
}

.btn:hover {
    background-color: crimson;
    border-color: crimson;
    color: cadetblue;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid rgb(193, 57, 134);
}

.price {
    font-size: 14px;
    color: #9e2061;

}

.buy {
    padding: 1px 15px 0px 15px;
    border-radius: 15px;
    background: linear-gradient(90deg, #d34890 0%, #b61668 100%);
}

.buy img {
    width: 15px;
}

.load-more {

    margin-top: 50px;
    display: inline-block;
    padding: 13px 35px;
    border-radius: 25px;
    border: 1px solid #eb288c;
    color: #dfd2d8;
    font-size: 16px;
    cursor: pointer;

}

.load-more:hover {
    background: linear-gradient(90deg, #e70b25 0% , #900314 100%);
    border-color: rgb(220, 20, 60);
    color: #dfd2d8;
}

.info {
    background-image: linear-gradient(rgba(236, 139, 204, 0.5), rgba(231, 142, 197, 0.5)),url(images/fondo3.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
}
.info-content {
    display: flex;
    position: relative;
}

.info-txt{
    width: 60%;
    margin-top: 85px;
}

.info-txt h2 {
    color: #c51a72;
    font-size: 55px;
    margin-bottom: 25px;
}

.info-txt p {
    font-size: 20px;
    color: #d34890;
    margin-bottom: 25px;
}

.info-sec{
    display: flex;
}

.info-1{
    display: flex;
}

.info-1 img{
    width: 80px ;
}

.info-2 {
    margin-left: 25px;
}

.info-2 h3 {
    color: #c91e76;
    font-size: 25px;
}

.info-2 p {
    color: #a00857;
    font-size: 16px;
}

.info.img {
    position: absolute;
    right: -55px;
    top: -103px;
}

.info-img img {
    width: 650px;
}

.footer {
    padding: 150px 0 100px 0;
    display: flex;
    justify-content: space-between;
}


@media(max-width: 991px ) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #f780bd;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;

    }

    .menu .navbar ul li a:hover {
        color: #fff9fc;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        flex-direction: column;
        padding: 180px 30px 30px 30px;
    }

    .header-txt {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 40px;
    }

    .botones {
        flex-direction: column;
        align-items: center;
    }

    .btn-1 {
        margin: 0 0 20px 0;
    }
    .btn-2 {
        margin: 0 0 20px 0;
    }

    .header-img {
        width: 100%;
        margin-top: 45px;
    }

    .product-menu {
        padding: 30px;
    }

    .title {
        margin-bottom: 20px;
    }

    .molly {
        display: none;
    }

    .menu-nav {
        flex-direction: column;
        align-items: center;
    }

    .tab {
        margin-bottom: 25px;
    }

    .box-container {
        grid-template-columns: 1fr;
    }

    .box .image {
        height: 200px;
    }

    .info {
        padding: 30px;
        height: 80vh;
    }

    .info-txt h2 {
        font-size: 40px;
    }

    .info-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-txt {
        width: 100%;
        margin-top: 0px;
    }

    .info-txt {
        margin-bottom: 5px;
    }

    .info-sec {
        flex-direction: column;
        padding: 0px 35px;
    }

    .info-1 {
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    .info-2 {
        margin-top: 10px;
        margin-left: 0;
    }

    .info-img img {
        display: none;
    }
}



